@font-face {
    font-family: OpenSansL;
    src: url('../res/OpenSans-Light.ttf');
}

body {
    padding: 0;
    padding-bottom: 50px;
    margin: 0;
    background-color: #0c182b;
    color: #e3e5e8;
    font-family: OpenSansL;
    font-weight: 100;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

.bbox {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.box {
    position: relative;
    top: 8%;
    margin: 0 auto;
    text-align: left;
    width: 50%;
    height: 95%;
}

.social {
    position: relative;
    left: -25px;
    top: -10px;
    margin-bottom: 30px;
}

.social ul {
    list-style-type: none;
}

.social ul li {
    display: inline-block;
    margin-left: 10px;
}

.social-icon {
    font-size: 20px;
    text-decoration: none;
    color: #e3e5e8;
}

.timeline {
    margin-bottom: 20px;
}

span {
    cursor: pointer;
}

.content {
    width: inherit;
    height: auto;
}

.projects {
    margin-bottom: 90px;
}

.mail {
    opacity: .7;
}

ul {
    padding-left: 17px;
}

#menu #list {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    margin: 4px 0;
    opacity: .6;
}

#menu a {
    text-decoration: none;
    font-weight: 600;
    color: inherit;
}

#menu:hover #list {
    max-height: 200px;
    transition: max-height 0.25s ease-in;
}

#timeline {
    display: none;
}

#project {
    display: none;
}

#stats {
    display: none;
}

.flex {
    display: flex;
}

.flex > div:nth-child(2) {
    flex: 1;
}

.no-margin {
    margin: 0;
}

.italic {
    font-style: italic;
    color: #bc4343;
}

h4 span {
    font-weight: 400;
}

#theme-btn {
    height: 45px;
    width: 45px;
    background-color: #e3e5e8;
    color: #bc4343;
    border-radius: 100%;
    position: fixed;
    right: 10%;
    top: 80%;
    margin-bottom: 50px;
}

#theme-btn i {
    position: relative;
    left: 35%;
    top: 35%;
}